[name = "deviceSubmit"] {
   background: blanchedalmond;
   text-align: center;
   font-weight: bold;
}
input[type="button"] {
    width:100px;
    text-align: left;
    padding: 3px;
    margin: 5px;
 }
 input[type="text"], select {
    margin: 3px;
 }
 label {
    padding: 3px;
    margin: 10px;
 }
 fieldset{
     width: 50%;
 }
 #mo, #ac {
    width: 33%;
    border: 1px solid green;
    border-radius: 3px;
    padding: 7px;
    margin: 5px;
    line-height: 30px;
    background-size: contain;
   background-repeat: no-repeat;
   background-position: right;
 }
 #mo {
   background-image: url('./mo.jpg');
   
}
#ac {
   background-image: url('./ac.jpg');   
}
 span {
   width: 100px;
   border: 1px solid black;
   border-radius: 5px;
   padding: 5px;
}
 #mo div, #ac div {
   text-align: center;
   width: 10%;
   border: 1px solid burlywood;
   padding: 5px;
   margin: 5px;
}
#del {
   display: block;
   margin:  0 0 0 auto;
}
 